n8n-workflows/google-maps-course-finder.json
{
    "nodes": [
        {
            "parameters": {},
            "id": "f6985a5a-33f2-4848-8575-c18528e6f8cc",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                912,
                96
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extract local results from SerpAPI response\nconst results = $input.first().json.local_results || [];\n\nreturn results.map(place => ({\n  json: {\n    title: place.title,\n    address: place.address,\n    phone: place.phone || null,\n    website: place.website || null,\n    rating: place.rating || null,\n    reviews: place.reviews || 0,\n    type: place.type || null,\n    place_id: place.place_id,\n    gps_coordinates: place.gps_coordinates,\n    hours: place.hours || null,\n    thumbnail: place.thumbnail || null\n  }\n}));"
            },
            "id": "264d2106-eedc-4065-922e-6c6305e0b26e",
            "name": "Extract Places1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1376,
                304
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "filter_courses",
                            "leftValue": "={{ $json.type }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "ec996df5-5c22-43c4-ad11-0494cc9faad3",
            "name": "Filter Valid Places1",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                1584,
                304
            ]
        },
        {
            "parameters": {
                "authentication": "queryAuth",
                "url": "https://serpapi.com/search.json",
                "options": {},
                "queryParametersUi": {
                    "parameter": [
                        {
                            "name": "engine",
                            "value": "google_maps"
                        },
                        {
                            "name": "q",
                            "value": "={{ $json.keyword }} in {{ $json.city }}"
                        },
                        {
                            "name": "type",
                            "value": "search"
                        }
                    ]
                }
            },
            "name": "SerpAPI Request1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1152,
                304
            ],
            "id": "903e22f5-429a-4e9b-b95a-caf4fb01c51e",
            "credentials": {
                "httpQueryAuth": {
                    "id": "L9Y5M4JdMqoZYI3E",
                    "name": "Query Auth account 2"
                }
            }
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "operation": "append",
                "sheetId": "1ypqcc84g6NiqzNvXOvO95-O_ABAjCH5yXH3lVowObIw",
                "range": "A:E",
                "options": {}
            },
            "name": "Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 1,
            "position": [
                1792,
                304
            ],
            "id": "338bde91-e518-44e3-b40e-9eb75ed26fa3",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "wgt41svRwRiew5Eu",
                    "name": "Google Sheets account 6"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "92967702-1b3c-48d5-8b1e-fa598afd702e",
                            "name": "keyword",
                            "value": "center de formation",
                            "type": "string"
                        },
                        {
                            "id": "c8306026-66f8-4b72-9699-318e2467d013",
                            "name": "city",
                            "value": "Marrakesh",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "71b81a34-1baf-457d-ba74-709c354280df",
            "name": "Set Search Parameters",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                960,
                304
            ]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Set Search Parameters",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Places1": {
            "main": [
                [
                    {
                        "node": "Filter Valid Places1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Valid Places1": {
            "main": [
                [
                    {
                        "node": "Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SerpAPI Request1": {
            "main": [
                [
                    {
                        "node": "Extract Places1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Search Parameters": {
            "main": [
                [
                    {
                        "node": "SerpAPI Request1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6fba02c56f732391825a81b0d3eb33212632413b406e8a0f3fe5b1cfa7369a99"
    }
}